body{  
    width: 100%;
    background-color: #f3f1f2;
    font-family: 'Open Sans', sans-serif; 
    margin: 0; 
    margin-top: 0;  
  } 
@mixin blocks{
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 825px;  
}
@mixin icop{
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 50px;
        line-height: 50px;
        color: rgb(245,247,247);
        font-family: "Open Sans";
        font-weight: 800;
}
@mixin contenth3{
          font-size: 35px;
            line-height: 69px;
            color: rgb(36,51,62);
            font-family: "Open Sans", sans-serif;            
}
@mixin contentp{
            width: 100%;
            font-size: 25px;
            line-height: 50px;
            color: rgb(26,48,63);
            font-family: "Open Sans", sans-serif;
}

.no-display{
  display: none;
}