/*  <!-- RESPONSIVE
============================================ --> */
@import "lib/_colors";
// здесь мы пишем медиа запросы 

// width start 
$w1360: 1360px;

$w1200: 1200px;
$w992: 992px;
$w768: 768px;
$w576: 576px;
$w480: 480px;
// width end 


// =============================================================================
    

/* <!-- minw start
	============================================ --> */


	@media only screen and (min-width:$w480){
		.text{
			display: block;
		}
	}/* <!-- min-width: #{$w480} --> */

	
	@media only screen and (min-width:$w576){
		.text{
			display: block;
		}
	}/* <!-- min-width: #{$w576} --> */


	@media only screen and (min-width:$w768){
		.text{
			display: block;
		}
	}/* <!-- min-width: #{$w768} --> */


	@media only screen and (min-width:$w992){
		.text{
			display: block;
		}
	}/* <!-- min-width: #{$w992} --> */
	
	
	@media only screen and (min-width:$w1200){
		.text{
			display: block;
		}

	}/* <!-- min-width: #{$w1200} --> */


/* <!-- minw end 
	============================================ --> */




/* <!-- maxw start
	============================================ --> */


	@media only screen and (max-width:$w1360 - 1px){

		// Main menu
		.main_menu li:not(:last-child){
			margin-right: 30px;
		}
		#header{
			padding-right: 10px;
		}
		.header_phone li:not(:last-child){
			margin-right: 10px;
		}

	}

	@media only screen and (max-width:$w1200 - 1px){
		.main_menu li:not(:last-child){
			margin-right: 10px;
		}

	}/* <!-- max-width: #{$w1200 - 1px} --> */

	

	@media only screen and (max-width:$w992 - 1px) {
		.work_item{
			margin-bottom: 40px;
		}
		.abaut_tabs_wrap{
			padding-left: 0;
		}
		.tabs_list li:not(:last-child){
			margin-right: 20px;
		}

		.logo{
			order: 1;
		}
		.header_phone{
			order: 2;
		}
		#primary_nav{
			order: 3;
			padding: 20px 0;
			padding-left: 20px;
			width: 100%;
		}
		.main_menu li:not(:last-child){
			margin-right: 30px;
		}
		#header .container-fluid{
			flex-wrap: wrap;
		}
		.map_big{
			position: relative;
			height: 660px;
		}

		.catalog_img_wrap{
			margin-bottom: 20px;
		}

		.form_contact_map{
			padding: 20px;
		}
		.contact_header{
			display: block;
		}
		.contact_header_left{
			margin-right: 0;
			margin-bottom: 20px;
		}
		.map_small{
			top: 118px;
		}

	}/* <!-- max-width: #{$w992 - 1px} --> */


	@media only screen and (max-width:$w768 - 1px) {
		.features_box{
			display: block;
		}
		.features_item{
			display: block;
			width: 100%;
		}
		.abaut_tabs_wrap{
			margin-top: 0;
		}
		.abaout_content_box{
			margin-bottom: 40px;
		}
		.form_box{
			padding: 20px;
			margin-left: 0;
		}
		.footer_wrap{
			display: block;
			.copyright{
				margin-bottom: 30px;
			}
		}
		.header_phone{
			li{
				display: block;
				&:not(:last-child){
					margin-right: 0;
					margin-bottom: 10px;
				}
			}
		}

		.catalog_title_box{
			display: block;
			margin-bottom: 30px;
		}
		.catalog_list_box{
			float: none;
			margin-right: 0;
			margin-bottom: 40px;
		}

	}/* <!-- max-width: #{$w768 - 1px} --> */
	

	@media only screen and (max-width:$w576 - 1px) {



		
	}/* <!-- max-width: #{$w576 - 1px} --> */


	@media only screen and (max-width:$w480 - 1px) {
		.main_title{
			font-size: 35px;
			line-height: 40px;
		}
		.owl-next{
			padding-right: 0;
		}
		.owl-prev{
			padding-left: 0;
		}
		.tabs_list li{
			display: block;
		}
		.tabs_list li:not(:last-child){
			margin-right: 0;
			margin-bottom: 20px;
		}
		.form_contact{
			display: block;
		}
		.contant_left{
			margin-right: 0;
			margin-bottom: 30px;
		}
		#header{
			padding-right: 0;
		}
		#header .container-fluid{
			flex-direction: column;
		}
		.logo{
			width: 100%;
			margin-right: 0;
			text-align: center;
			margin-bottom: 10px;
			&::after{
				display: none;
			}
		}
		#primary_nav{
			padding-left: 0;
		}
		.main_menu{
			li{
				display: block;
				text-align: center;
				margin-bottom: 10px;
				&:not(:last-child){
					margin-right: 0;
				}
			}
		}
		.footer_wrap{
			margin-right: 0;
			margin-left: 0;
		}

		.mobile_hide{
			display: none !important;
		}

		.form_section_box{
			display: block;
			.form_section_left{
				margin-right: 0;
			}
		}


		.map_small{
			top: 226px;
		}

	}/* <!-- max-width: #{$w480 - 1px} --> */

 
/* <!-- maxw end 
	============================================ --> */



