.page-footer{
  width: 100%;
  height: 160px;
  margin: 0 auto;
  background: #f1f1f1;
  margin-top: 40px;
    a{
      text-decoration: none;
      font-size: 0;
    }
}
.page-footer__social{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid rgba(0,0,0,0.1);
}
.page-footer__social--btn-inst{
  background: url(../img/sprite.png);
  width: 22px;
  height: 21px;
  background-position: -759px -12px;
  display: inline-block;
  margin-right: 40px;
}
.page-footer__social--btn-inst:hover{
  background-position:-805px -12px;
}
.page-footer__social--btn-fb{
  background: url(../img/sprite.png);
  width: 15px;
  height: 28px;
  background-position: -102px -12px;
  margin-right: 40px;
}
.page-footer__social--btn-fb:hover{
  background-position: -141px -12px;
}
.page-footer__social--btn-tvit{
  background: url(../img/sprite.png);
  width: 23px;
  height: 20px;
  background-position: -1024px -12px;
}
.page-footer__social--btn-tvit:hover{
  background-position: -1071px -12px;
}
.page-footer__dev{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
    p{
      font-weight: bold;
      margin-right: 40px;
    }
}
.page-footer__dev--html{
  background: url(../img/sprite.png);
  width: 27px;
  height: 34px;
  background-position: -180px -12px;
}
.page-footer__dev--html:hover{
  opacity: 0.7;
}
.page-footer__logo{
  display: none;
}
@media (min-width: 768px){
  .page-footer{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-footer__social{
    border-bottom: none;
  }
  .page-footer__social--btn-tvit{
    margin-right: 90px;
  }
  .page-footer__logo{
    display: block;
    width: 102px;
    height: 35px;
    background: url(../img/sprite/logo-footer.png);
    margin-right: 160px;
  }
  .page-footer__link:hover{
    background: url(../img/sprite/logo-footercopy.png);
  }

  .page-footer__dev{
    p{
      margin-right: 20px;
    }
  }
  .page-footer--container{
    margin: 0 auto;
    width: 770px;
    display: flex;
    justify-content: space-between;
    align-items: center;;
  }

}
@media (min-width: 1050px){
  .page-footer{
    width: 100%;
    justify-content: space-between;
  }
  .page-footer--container{
    margin: 0 auto;
    width: 1050px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
