//- block vars
footer(id="footer" class=footerClasses)

	.container
		.container_inner
			.footer_top
				.footer_top_left
					.footer_top_row
						.col-footer-4
							h4 Поселок
							ul.footer_list
								li
									a(href="javascript:;") О поселке
								li
									a(href="javascript:;") Новости
								li
									a(href="javascript:;") Фотогалерея
								li
									a(href="javascript:;") Как добраться?
						.col-footer-4
							h4 Инфраструктура
							ul.footer_list
								li
									a(href="javascript:;") Генеральный план
								li
									a(href="javascript:;") Инфраструктура
						.col-footer-4
							h4 Спецпредложения
							ul.footer_list
								li
									a(href="javascript:;").footer_link_blue Участки недели
								li
									a(href="javascript:;").footer_link_blue Выбор участка	
					.col-footer-12
						.footer_top_txt
							p.footer_txt_adress
								span Адрес объекта:
								|  Калужская область, Перемышльский район, ДНТ «Горки-1»
							p.footer_txt_sub Городска ифраструкутра близко: 20 мин. на авто до г. Калуга
				.footer_top_right
					.footer_box
						h4 Ответим на вопросы
						.footer_tel_wrap
							a(href="tel:+7 (495) 000-00-00").footer_tel_link +7 (495) 000-00-00
							a(href="javascript:;" data-src="#call").footer_call_link.modal_btn Заказать звонок
						.footer_date_wrap
							p
								span Пн-Пт:
								|  9:00 - 20:00
							p
								span Сб-Вс:
								|  10:00 - 19:00
						.footer_mail_wrap
							p Напишите нам:
							a(href="mailto:info@gorki-1.com") info@gorki-1.com

			.footer_bottom
				.footer_bottom_left
					p.footer_copy 2019 © ООО "Горки-1"
					a(href="javascript:;") Политика обработки персональных данных
					a(href="javascript:;") Пользовательское соглашение			 
				.footer_bottom_right
					a(href="https://task-on.com/" target="_blank") Разработка сайтов для застройщиков -
					img(src="./images/footer_logo.png", alt="")
