// Include Libs     ============================================ 

script(src="js/jquery-3.2.1.min.js")
script(src="js/jquery-migrate-3.0.1.min.js")

// Include Libs End       ============================================ 




// Scripts Init Plugins & Core START     ============================================ 

script(src="./plugins/fancybox/jquery.fancybox.min.js")
script(src="./plugins/parallax.js/jquery.parallaxify.js")
script(src="./plugins/datepicker/datepicker.min.js")
script(src="./plugins/jquery.appear.js")
script(src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru_RU")
script(src="js/script.init.js")
script(src="js/script.core.js")

// Scripts Init Plugins & Core END       ============================================ 