extends ../pug/templates/main

block vars
	- var title = "Одна новость";
	- var headerClasses = ['header_inner'];
	- var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница


//- Content Start     ============================================ 


block content

	// Content Start     ============================================ 

	main#content.p_rel

		section.one_news_section
			.container
				.container_inner
					.one_news_wrap
						.one_news_left
							.one_news_left_top
								h1 Название для статьи, которая занимает несколько строк столбика
								span 2 апреля 2019 г.
								img(src="./images/one_news_img.jpg", alt="")
								p Проснувшись однажды утром после беспокойного сна, 
									a(href="javascript:;") Грегор Замза 
									|  обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
								p Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку. 
								p На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука. 
									strong Затем взгляд Грегора устремился в окно, 
									|  и пасмурная погода – слышно было, как по жести подоконника стучат капли дождя – привела его и вовсе в грустное настроение.
								h2 Загаловок Н2
								p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое: 
								ul
									li Лежа на панцирнотвердой спине, он видел, стоило ему 
										a(javascript:;) приподнять голову, 
										|  свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. 
									li Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. 
								blockquote Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое
								h3 Загаловок Н3
								p
									img(src="./images/one_news_img2.jpg", alt="" style="float: right;")
								p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.								
								p Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку. 
								h3 Загаловок Н3
								table
									thead
										tr
											th №
											th(width="280") Наименования списка которое будет занимать больше одной строки
											th другой блок
											th третий блок
									tbody
										tr
											td 1.
											td Название блока который довольно длинный и занимает 2 строки
											td 1 400
											td 4 000
										tr
											td 2.
											td Название блока
											td 1 400
											td 4 000
										tr
											td 3.
											td Название блока очередной
											td 1 400
											td 4 000
										tr
											td 4.
											td Название блока
											td 1 400
											td 4 000
								p Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. 

							.one_news_left_bot
								span 2 апреля 2019 г.
								ul
									li
										p Поделиться:
									li
										a(href="javascript:;") Facebook
											img(src="./images/icons/fb.png", alt="")
									li
										a(href="javascript:;") Vkontakte
											img(src="./images/icons/vk.png", alt="")
									li
										a(href="javascript:;") Odnoklassniki
											img(src="./images/icons/ok.png", alt="")
									li
										a(href="javascript:;") Twitter
											img(src="./images/icons/tw.png", alt="")



						.one_news_right
							.one_news_right_top
								h5 О поселке
								p Каждая минута отдыха по-настоящему бесценна. Именно поэтому вся инфраструктура курортного поселка Горки-1 продумана специально для того, чтобы вы провели это время максимально комфортно – насладившись неспешностью загородной жизни или, наоборот, зарядившись яркими эмоциями от разнообразных активностей. Здесь «жизнь, как на курорте» - это не просто мечта, это ваш образ жизни.
								h5 Уникальная инфраструктура
								ul
									li
										img(src="./images/icons/news/news_icon1.png", alt="")
										| Ресторан с террасой на воде
									li
										img(src="./images/icons/news/news_icon2.png", alt="")
										| Теннисные корты
									li
										img(src="./images/icons/news/news_icon3.png", alt="")
										| Детский клуб
									li
										img(src="./images/icons/news/news_icon4.png", alt="")
										| Фитнес клуб
									li
										img(src="./images/icons/news/news_icon5.png", alt="")
										| Русская баня
									li
										img(src="./images/icons/news/news_icon6.png", alt="")
										| Вертолетная площадка
								a(href="javascript:;").btn_blue Подробнее
							.one_news_right_bot
								ul
									li
										img(src="./images/icons/news/news_icon7.png", alt="")
										a(href="javascript:;") Аэросьемка
									li
										img(src="./images/icons/news/news_icon8.png", alt="")
										a(href="javascript:;") Фотогалерея


		section.other_news(style="background-image: url(./images/other_news_bg.jpg)")
			.container
				.container_inner
					h2 другие новости
					.news_wrap
						a(href="javascript:;").news_item_small
							span.news_item_img(style="background-image: url(./images/news/news_img5.jpg)")
							span.news_item_content(data-mh="news_item_content")
								p.news_item_title Его комната, настоящая, разве что слишком маленькая, но обычная комната
								p.news_item_date 2 апреля 2019 г.

						a(href="javascript:;").news_item_small
							span.news_item_img(style="background-image: url(./images/news/news_img6.jpg)")
							span.news_item_content(data-mh="news_item_content")
								p.news_item_title Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое
								p.news_item_date 2 апреля 2019 г.

						a(href="javascript:;").news_item_small
							span.news_item_img(style="background-image: url(./images/news/news_img7.jpg)")
							span.news_item_content(data-mh="news_item_content")
								p.news_item_title Над столом, где были разложены распакованные образцы сукон
								p.news_item_date 2 апреля 2019 г.
					.load_more_wrap
						a(href="javascript:;").load_more_btn Смотреть все новости
		
		//- .bot_bg
		//- 	img(src="./images/main_bottom_bg.jpg", alt="")
		// - - - - - - - - - - - - - End of something_container - - - - - - - - - - - - - - - - 



	// Content End       ============================================ 


//- Content End       ============================================ 


