/*  <!-- RESPONSIVE
============================================ --> */
/* <!-- minw start
	============================================ --> */
@media only screen and (min-width: 480px) {
  .text {
    display: block;
  }
}

/* <!-- min-width: 480px --> */
@media only screen and (min-width: 576px) {
  .text {
    display: block;
  }
}

/* <!-- min-width: 576px --> */
@media only screen and (min-width: 768px) {
  .text {
    display: block;
  }
}

/* <!-- min-width: 768px --> */
@media only screen and (min-width: 992px) {
  .text {
    display: block;
  }
}

/* <!-- min-width: 992px --> */
@media only screen and (min-width: 1200px) {
  .text {
    display: block;
  }
}

/* <!-- min-width: 1200px --> */
/* <!-- minw end 
	============================================ --> */
/* <!-- maxw start
	============================================ --> */
@media only screen and (max-width: 1199px) {
  .text {
    display: block;
  }

  #header {
    margin-bottom: 40px;
  }

  .serv_wrap2 .serv_box {
    width: 25%;
  }

  .law_txt_box {
    width: 60%;
    padding: 20px;
  }

  .section_bg_left3::before {
    top: 0;
    height: 100%;
  }
}

/* <!-- max-width: 1199px --> */
@media only screen and (max-width: 991px) {
  .text {
    display: block;
  }

  .btn_nav {
    display: block;
  }

  .header_wrap {
    text-align: center;
  }

  .header1 .logo {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }

  .header1 .navigation_menu {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }

  .header1 .menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 76px;
    background-color: #fff;
    z-index: 5;
    padding-top: 15px;
  }

  .header1 .menu_item {
    display: block;
    padding: 10px;
  }

  .header1 .phone_box {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer1 .header_wrap {
    display: block;
  }

  .footer1 .menu_item {
    display: block;
    padding: 10px;
  }

  .footer1 .phone_box {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .swiper-slide {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .slider_content_left {
    width: 100%;
  }

  .slider_content_right {
    width: 100%;
    min-height: auto;
  }

  .section_bg::before {
    height: 50%;
    width: 100%;
  }

  .partner_box {
    min-height: auto;
    padding: 30px 0;
  }

  .serv_wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .serv_box {
    width: -webkit-calc(33.3% - 1px);
    width: calc(33.3% - 1px);
  }

  .section_bg_right::before {
    left: 0;
    top: 49%;
    width: 100%;
    height: 55%;
  }

  .txt_box {
    position: relative;
    padding: 50px 20px;
    margin-left: 0;
  }

  .section_bg_left::before {
    right: 0;
    width: 100%;
    height: 50%;
  }

  .txt_img_box_2 {
    margin-left: 0;
    padding-top: 0;
  }

  .form_row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-top: 30px;
  }

  .form_row > * {
    width: 100% !important;
    margin-bottom: 10px;
  }

  .map_box {
    padding: 0;
  }

  .map {
    position: relative !important;
    width: 100%;
    height: 400px;
  }

  .map_txt_box {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .slider_abaut {
    padding-top: 20px;
  }

  .slider_abaut .slider_content_left {
    position: static;
  }

  .slider_abaut_txt {
    padding: 40px 20px;
  }

  .rev_box {
    padding: 0;
    padding-bottom: 60px;
  }

  .rev_slider .swiper-button-next, .rev_slider .swiper-button-prev {
    top: auto;
    bottom: 30px;
  }

  .range_wrap {
    margin-bottom: 25px;
  }

  .form_row2 .range_wrap {
    width: 100%;
  }
}

/* <!-- max-width: 991px --> */
@media only screen and (max-width: 767px) {
  #header {
    margin-bottom: 20px;
  }

  .text {
    display: block;
  }

  .title1 {
    font-size: 40px;
    line-height: 45px;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }

  .title2 {
    font-size: 30px;
    line-height: 32px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .title4 {
    margin-bottom: 10px;
  }

  h1 {
    font-size: 40px;
    line-height: 45px;
  }

  h3 {
    font-size: 30px;
    line-height: 32px;
  }

  p {
    font-size: 14px;
    line-height: 18px;
  }

  .section_offset {
    margin-bottom: 50px;
  }

  .slider_content_left {
    padding-top: 45px;
    padding-bottom: 20px;
  }

  .slider_content_left p {
    margin-bottom: 10px;
  }

  .partner_img_box {
    width: 25%;
    padding: 20px;
  }

  .partner_images_wrap {
    margin-bottom: 0;
  }

  .fin_img_box {
    height: 120px;
  }

  .serv_box {
    width: -webkit-calc(50% - 1px);
    width: calc(50% - 1px);
    min-height: 200px;
  }

  .serv_content {
    margin-bottom: 15px;
  }

  .tabs_list {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
  }

  .tabs_list li {
    display: block;
    min-width: auto;
  }

  .tabs_list li:first-child {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .form_row {
    padding-top: 20px;
  }

  .form_row > * {
    width: 100%;
  }

  .map_txt_box {
    padding: 20px;
  }

  .rev_box {
    padding-bottom: 0;
  }

  .rev_slider {
    margin-bottom: 20px;
    padding-top: 30px;
  }

  .rev_box_txt {
    padding: 15px;
    padding-bottom: 60px;
  }

  .subtitle {
    margin-bottom: 10px;
  }

  .slider_abaut_txt {
    padding: 20px;
  }

  .serv_wrap2 .serv_box {
    width: 50%;
  }

  .law_txt_box {
    width: 100%;
  }
}

/* <!-- max-width: 767px --> */
@media only screen and (max-width: 575px) {
  .text {
    display: block;
  }

  .section_bg_right::before {
    display: none;
  }

  .section_bg_left::before {
    display: none;
  }

  .txt_box {
    margin-right: -15px;
    margin-left: -15px;
    padding: 20px 15px;
  }

  .boss_wrap {
    padding-top: 20px;
  }

  .boss_wrap .btn_purple {
    padding-left: 20px;
    padding-right: 20px;
  }

  .boss_box {
    margin-bottom: 15px;
  }
}

/* <!-- max-width: 575px --> */
@media only screen and (max-width: 479px) {
  .text {
    display: block;
  }

  .header1 .menu .phone_box {
    display: block;
  }

  .header1 .menu .phone_box a {
    display: block;
  }

  .header1 .phone_box {
    display: none;
  }

  .section_bg::before {
    display: none;
  }

  .partner_box {
    margin-right: -15px;
    margin-left: -15px;
    padding: 20px 15px;
  }

  .partner_img_box {
    padding: 10px;
  }

  .serv_box:not(:last-child) {
    border-bottom: 1px solid #6f6f6f;
  }

  .serv_box {
    width: 100%;
  }

  .map {
    height: 300px;
  }

  .serv_wrap2 .serv_box {
    width: 100%;
  }

  .range_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
  }

  .range_wrap .range_box_wrap {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .range_wrap .range_input {
    width: 100% !important;
  }
}

/* <!-- max-width: 479px --> */
/* <!-- maxw end 
	============================================ --> */
