body{
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}
@font-face{
  font-family: Verdana;
  src: url(../fonts/Verdana.ttf);
}
h2{
  font-family: Verdana;
}
h1{
  font-family: Verdana;
}
.res{
  position: fixed;
  top: 10px;
  left: 10px;
}
