@font-face{
    font-family: Gotham Medium;
     src: url(../fonts/Gotham-Medium1.eot);
     src: local('☺'),
      url(../fonts/8573.ttf),          
     url(../fonts/gotham-medium.woff);
  }
  @font-face{
    font-family: GBook;
    src: url(../fonts/GothamBook.eot);
    src: local('☺'),
     url(../fonts/GothamBookRegular.otf),
     url(../fonts/GothamBook.woff);
    
  }
