body{
    // overflow-x: hidden;
    width: 100%;
    background-color: #f3f1f2;
    font-family: 'Gotham Medium'; 
    margin: 0;   
  }
  h2{
    font-family: Gotham Medium;
  }
  h1{
    font-family: Gotham Medium;
  }
 