/* 
-----------------------------------------------------
  Stylesheet Guide
-----------------------------------------------------
  
  1. Default stylesheets

  2. Basic Elements
    2.1. Typography
    2.2. Lists
    2.3. Buttons
    2.4. Dividers
    2.5. Tooltips
    2.6. Tables
    2.7. Forms

  3. General classes
    3.1. Flex

  4. Main options
    4.1 Page tilte end breadcrumps
    4.2 Offsets

  5. Header
    5.1. Main navigation
    5.2. Search

  6. Plugins
    6.1. Preloader
    6.2. Sliders
    6.3. Carousels


  7. Main Section
    7.1. Index page
    7.2. Catalog page

  8. Footer
    8.1. Footer Bottom
    8.2. Copyright


*/
@import "reset.css";
@import "../fonts/Gilroy/stylesheet.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);


/* ------------------------------------------------

    1. Default stylesheets

------------------------------------------------ */

  html,body{
    height: 100%;
  }

   body {
    font-family: 'Gilroy', sans-serif;
    color: #ffffff;
    font-size:14px;
    line-height:22px;
    background:#f1f1f1;
    -webkit-text-size-adjust: none;
   }
   * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
   }

   ::selection{
    color: #fff;
    background: #2366cf;
   }
   ::-moz-selection{
    color: #fff;
    background: #2366cf;
   }
   ::-webkit-scrollbar{
    background: #cdcdcd;  
    width: 10px;
   }

   ::-webkit-scrollbar-thumb{
    background: #3a405b;
   }


   ::-webkit-input-placeholder{
    color:#797e85;
    -webkit-transition: text-indent .5s ease, color .5s ease;
        transition: text-indent .5s ease, color .5s ease;
   }
   input::-moz-placeholder{
    color:#797e85;
    opacity:1;
   }
   textarea::-moz-placeholder{
    color: #797e85;
    opacity: 1;
   }
   ::ms-input-placeholder{
    color:#797e85;
   }
   [placeholder]:focus::-webkit-input-placeholder{
    text-indent:10em;
    color:transparent;
   }
   .container{
     max-width: 1600px;
     width: 100%;
     height: auto;     
     margin: 0 auto;
     position: relative;
   }
   .container_2{
    width: 1170px;
    height: auto;     
    margin: 0 auto;
    position: relative;
   }

/* ------------------------------------------------

    2. Basic Elements

------------------------------------------------ */
   /* --------------------------------------------
        2.1. Typography
   -------------------------------------------- */
  
      h1,h2,h3,h4,h5,h6{         
         margin: 0;
         margin-bottom: 17px;
         font-weight: 800;
      }


      h1,h2,
      .title_main {        
        font-size: 67px;
        line-height: 78px;         
        color: #ffffff;
        margin-bottom: 17px;
      }
      h3{font-size: 22px;}
      h4{font-size: 18px;}
      h5{font-size: 16px;}
      h6{font-size: 14px;}

      .catalog_title{
        font-size: 44px;
        line-height: 78px;
        color: #000000;
      }      
      .catalog_main p{
        font-size: 16px;
        line-height: 24px;
        color: #797e85;
      }

      p:not(:last-child){margin-bottom: 20px;}
      p{       
        font-size: 23px;
        line-height: 35px;
        font-weight: 300;  
      }

      mark{background-color: #20cfef;padding: 0 2px;color: #fff;}
      mark.red{background-color: #ee352f;}

      a{
         color: #;
         text-decoration: none;
         -webkit-transition: all 0.5s;
         -o-transition: all 0.5s;
         transition: all 0.5s;
      }
      a:hover{
         color: #333;
         text-decoration: none;
         -webkit-transition: all 0.3s;
         -o-transition: all 0.3s;
         transition: all 0.3s;
      }
      a:focus,
      a:visited{
         text-decoration: none;
      }

   /* --------------------------------------------
        2.2. Lists
   -------------------------------------------- */
      .list1{}
      .list1_item{
        background:url(../images/marker1.png) 0 7px no-repeat;
        padding-left:20px;
      }
      .list1_link{}

      .list2{}
      .list2_item{
        background:url(../images/marker1.png) 0 7px no-repeat;
        padding-left:20px;
      }
      .list2_link{}

      .list3{}
      .list3_item{
        background:url(../images/marker1.png) 0 7px no-repeat;
        padding-left:20px;
      }
      .list3_link{}


   /* --------------------------------------------
        2.3. Buttons
   -------------------------------------------- */
   [class*="btn_"] {
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    color: #ffffff;
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    position: relative;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
   .btn{
      display: inline-block;
      outline: none;
      background: #;
      color: #;
   }
   .btn:hover{
      background-color: #;
      color: #;
   }
   
   .btn_nav {
      display: block;
      border: none;
      outline: none;
      width: 25px;
      height: 26px;
      cursor: pointer;
      background-color: transparent;
      position: relative;
      display: none;
      z-index: 15;
      float: right;
    }
    .btn_nav:before, .btn_nav:after, .btn_nav span {
      content: '';
      display: block;
      width: 25px;
      height: 4px;
      background-color: #ffff;
      position: absolute;
      top: 0px;
      left: 0;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
    .btn_nav span {
      top: 11px;
    }
    .btn_nav:after {
      top: auto;
      bottom: 0px;
    }
    .btn_nav.active span {
      display: none;
    }
    .btn_nav.active:before {
      top: 12px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg); 
    }
    .btn_nav.active:after {
      bottom: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg); 
    }
    .btn_search{
      border: none;      
      background-color: #2366cf;
      padding: 10px 75px 10px 40px;
    }
    .btn_search:hover{
      background-color: #2cc9fe;     
    }
    .btn_search span{
      position: absolute;
      top: 13px;
      right: 30px;
      background: url(../images/search.png) no-repeat;
      width: 17px;
      height: 16px;
    }
    .btn_table{
      border: none;      
      background-color: #2cc9fe;
      padding: 10px 15px; 
    }
    .btn_table:hover{
      background-color: #2366cf;
    }
    .btn_footer{
      border: 1px solid #5c73a9;      
      background-color: transparent;
      padding: 10px 15px;      
      font-weight: 300;  
    }
    .btn_footer:hover{
      background-color: #5c73a9;
    }


/* ------------------------------------------------

    3. General Classes

------------------------------------------------ */

   .align_left{text-align: left;}
   .align_right{text-align: right;}
   .align_center{text-align: center;}
   .alignleft{float: left; }
   .alignright{float: right;}
   .wrapper{overflow: hidden;}
   .hide{ display: none;}
   .show{ display: block;}
   .d_ib{display: inline-block;}
   .transparent{ opacity:0; }
   .invisible{ opacity: 0; visibility: hidden;}
   .visible{ opacity:1; visibility: visible;}
   .p_abs{position: absolute;}
   .p_rel{position: relative;}
   .p_fix{position: fixed;}
   .reg {text-transform:uppercase}
   .clear {clear:both;width:100%;line-height:0;font-size:0;}
   .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
   }
   /* --------------------------------------------
        3.1. Flex
   -------------------------------------------- */
    .flex_box {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }

    .flex_box_middle {
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
    }
    .flex_box_between{
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
    }

    .flex_wrap {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flex_center {
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
    }


    .flex_start {
        -webkit-align-items: flex-start;
        -moz-align-items: flex-start;
        -ms-align-items: flex-start;
        -o-align-items: flex-start;
        align-items: flex-start;
    }

/* ------------------------------------------------

    4. Main

------------------------------------------------ */

   section {padding:0px 0px 0px 0px;}

   .page_wrap{
      position: relative;
      min-height: 100%;
      overflow: hidden;
    }

   /* --------------------------------------------
        4.1. Page tilte end breadcrumps
   -------------------------------------------- */
    
      .page_title_box {
         padding: 39px 0 43px;
         color: #505050;
         border-bottom: 1px solid #efefef;
         background-color: #fcfcfc;
      }

      .breadcrumps{
         padding: 9px 0 0;
      }
  /* --------------------------------------------
        4.2. Offsets
  -------------------------------------------- */
    
      .section_offset{
        padding: 120px 30px 70px 30px;
      }
      .offset_big{
        padding: 75px 0;
      }

/* ------------------------------------------------

    5. Header

------------------------------------------------ */
   
   header {
     min-height: 160px;     
     position: relative;
     z-index: 22;
     background: 0 100% no-repeat;
     background-size: cover;
   }
   .header_box {
      padding: 25px 30px 25px 30px;
   }
   .logo{}
   .logo a{
     display:block;
     width:278px;
     height:62px;
     background:url(../images/logo_desk.png) 0 0 no-repeat;
     text-decoration:none;
     text-indent:-9999px;
   }

  /* --------------------------------------------
        5.1. Main navigation
  -------------------------------------------- */
  .nav_list_wrap {
    display: block;
}
  .navigation li{
    display: inline-block;
    padding: 0 20px;    
  }
  .navigation li:last-child{
    padding-right: 0;
  }
  .navigation li a{    
    font-size: 16px;
    line-height: 20px;
    padding: 5px 0;
    color: #ffffff;
    font-weight: 800;
    display: block;
  }
  .navigation li a:hover,
  .navigation li.current a{
    color: #2cc9fe;
  }
  /* --------------------------------------------
        5.2. Search
  -------------------------------------------- */

/* ------------------------------------------------

    6. Plugins

------------------------------------------------ */
   
  
  /* --------------------------------------------
        6.1. Preloader
  -------------------------------------------- */
      #page-preloader {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #303030;
        z-index: 100500;
      }

      #page-preloader .preloader {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 36px;
        height: 36px;
        margin-left: -18px;
        margin-top: -18px;
        display: inline-block;
        padding: 0px;
        border-radius: 100%;
        border: 2px solid;
        border-top-color: rgba(10, 53, 141, 0.65);
        border-bottom-color: rgba(10, 53, 141, 0.15);
        border-left-color: rgba(10, 53, 141, 0.65);
        border-right-color: rgba(10, 53, 141, 0.15);
        -webkit-animation: preloader 0.8s linear infinite;
        animation: preloader 0.8s linear infinite;
      }

      @keyframes preloader {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(360deg);
        }
      }

      @-webkit-keyframes preloader {
        from {
          -webkit-transform: rotate(0deg);
        }

        to {
          -webkit-transform: rotate(360deg);
        }
      } 

  /* --------------------------------------------
        6.2. Sliders
  -------------------------------------------- */
  /* --------------------------------------------
        6.3. Carousels
  -------------------------------------------- */ 

/* ------------------------------------------------

    7. Main Section

------------------------------------------------ */

  /* --------------------------------------------
        7.1. Index page
  -------------------------------------------- */
      
  .swiper-container {
    width: 100%;
    height: 100vh;
    position: absolute !important;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .main_txt_wrap{
    text-align: left;
    opacity: 0;  
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: 75% 100% no-repeat;
    background-size: cover;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .mouse_i {
    position: absolute;
    width: 25px;
    height: 40px;
    bottom: 40px;
    left: 50%;
    background: url(../images/mouse.png) no-repeat;
    z-index: 1;
  }
  .swiper-slide-active .main_txt_wrap{
    animation: fadeInLeft 1.5s;
    opacity: 1;
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* --------------------------------------------
        7.2. Catalog page
  -------------------------------------------- */

  .catalog_txt_wrap a{
    text-decoration: underline;
    color: #2366cf;
  }
  .catalog_txt_wrap a:hover{
    text-decoration: none;
  }
  .catalog_search_form{
    padding: 35px 0;
  }
  .catalog_search_form input{
    border: 1px solid #d5dbe7;
    border-radius: 15px;
    height: 40px;
    width: 100%;
    padding-left: 20px;
  }
  .row_box {
    margin-left: -15px;
    margin-right: -15px;
  }
  .row_box>* {
    float: left;
    padding: 0 15px;
  }
  .col_left {
    width: 80%;
  }
  .col_right {
    width: 20%;
    text-align: right;
    vertical-align: middle;
  }  
  .catalog_table{
    width: 100%;
    table-layout: fixed;     
  }
  .catalog_table th{
    font-size: 14px;
    line-height: 32px;
    color: #153684;
    text-align: left;
    padding: 20px 15px;
  }
  .catalog_table th:first-child{
    padding-left: 0;
  }
  .price_column a{
    color: #153684;
    position: relative;
    padding-right: 25px;
  }
  .price_column a:hover{
    color: #2cc9fe;
  }
  .price_column a img{   
    position: absolute;
    top: 5px;
    right: 0;
    width: 14px;
    height: 10px;
  }
  .catalog_table td{
    font-size: 14px;
    line-height: 24px;
    color: #232b36;
    text-align: left;
    vertical-align: middle;
    padding: 20px 15px;
    /* border-bottom: 1px solid #e0e5ed; */
  }  
  .catalog_table tbody tr{
    border-bottom: 1px solid #e0e5ed;
  }  
  .catalog_table td:first-child{
    padding-left: 0;
  }
  .catalog_table td:last-child{
    text-align: right;
    padding-right: 0;
  } 
  .pages {
    padding-top: 90px;
    margin-bottom: 60px;    
  }
  .pages li {
   float: left;
   padding-left: 0px;
   margin-right: 0;
   margin-bottom: 0; 
  }
  .pages li:not(:last-child){
    border-right: 1px solid #d5dbe7;
  }
  .pages ul {
   overflow: hidden;
   /* padding: 7px 15px; */
   list-style: none;
   border: 1px solid #d5dbe7;
   border-right: none;   
   margin: 0 auto;
  }
  .pages a {   
   display: inline-block;  
   padding: 15px 18px;
   font-size: 12px;
   line-height: 12px;
   color: #3a405b;
   text-decoration: none;
  }
  .pages a:hover {
   background-color: #3a405b;
   color: #fff;
  }
  .pages .selected {
    background-color: #3a405b;
    color: #fff;
  }
  .pages .pages_prev {
   color: #808080;   
  }
  .pages_next {
   color: #404040;   
  }
  .pages .pages_next, .pages .pages_prev {
   text-decoration: none ;
   font-size: 25px;
  }
  .pages .pages_next:hover, .pages .pages_prev:hover {
    background-color: #3a405b;
    color: #fff;
  }
  .open_table span{
    display: none;
  }

/* ------------------------------------------------

    8. Footer

------------------------------------------------ */

   footer {}

   #footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 25px 0 15px;
    background-color: #153684;
    min-height: 235px;
  }
  .footer_box{
    padding: 25px 30px 25px 30px;
  }
  .footer_navigation{
    margin-bottom: 55px;
  }
  .footer_navigation li a{    
    font-size: 16px;
    line-height: 20px;
    padding: 5px 0;
    color: #ffffff;
    font-weight: 800;
    display: block;
  }
  .footer_navigation li a:hover,
  .footer_navigation li.current a{
    color: #2cc9fe;
  }
  .footer_box p{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
  }
  .footer_box li a{
    font-weight: 300;
  }
  /* .col_left_footer{
    width: 75%;
  } */
  .col_right_footer{
    text-align: center;
    float: right; 
    padding-right: 0;   
    /* width: 25%; */
  }
  .footer_cont_wrap{
    padding-top: 45px;
  }
  .footer_cont_wrap p{
    margin-bottom: 15px;
  }
  .footer_cont_wrap a{
    color: #2cc9fe;
    font-weight: 800;
  }
  .footer_cont_wrap a:hover{
    color: #ffffff;
  }

   
  /* --------------------------------------------
        8.1. Footer Bottom
  -------------------------------------------- */
  /* --------------------------------------------
        8.2. Copyright
  -------------------------------------------- */ 