.catalog{ 
    width: 1000px;
    margin: 0 auto;
    padding-left: 35px;      
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border-bottom: 0.1px solid #95a5a7;  
    // border-width: 110%;  
}
.cart{
    order: 2;
}
// styles for first house-cart small
.house-cart{
    width: 210px;
    height: 260px;        
}
.first{
    position: relative;
    margin-right: 35px;
    margin-bottom: 20px;
    .back{
        width: 210px;
        height: 140px;
        background: url(../images/Layer6.png);
        border-bottom: 3px solid #1baf5d;
        position: relative;
    }
    .back::after{
        content: "$2,990";
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
        padding-top: 3px;
        color: rgb(255,255,255);
        font-family: "Gotham Medium";
        width: 65px;
        height: 16px;
        border-radius: 12px;
        background-color: #1baf5d;        
        top: 5px;
        left: 140px;
        position: absolute;                
    }   
    .discription{
        padding-top: 15px;
        background: #fff;
        text-align: center;
            p:nth-child(1){
                padding-left: 8px;
                padding-right: 8px;
                font-size: 14px;
                line-height: 18px;
                color: rgb(86,99,117);
                margin-bottom: 0;
            }
            p:nth-child(2){
                font-size: 12px;
                line-height: 26px;
                color: rgb(27,175,93);
                text-transform: uppercase;
                margin: 0;
            }
    }
    .stars{
        display: flex;
        justify-content: center;
        align-items: center;
            p:nth-child(2){
                color: rgb(86,99,117);
            }
    }
    .small-stars{
        width: 60px;
        height: 15px;
        background: url(../images/stars.png);
        background-repeat: no-repeat;
    }
}
.first::after{
    content: "";
    width: 62px;
    height: 62px;
    top: 110px;
    left: 75px;
    position: absolute;
    background: url(../images/house-ic.png);    
}
// styles for music-cart small
.music-cart{
    width: 210px;
    height: 260px;
    position: relative;
    margin-right: 35px;
    margin-bottom: 20px;
    .back{
        width: 210px;
        height: 140px;
        background: url(../images/Layer7.png);
        border-bottom: 3px solid #f19d1f;
        position: relative;
    }    
    .discription{
        padding-top: 15px;
        background: #fff;
        text-align: center;
            p:nth-child(1){
                padding-left: 9px;
                padding-right: 5px;
                font-size: 14px;
                line-height: 18px;
                color: rgb(86,99,117);
                margin-bottom: 0;
            }
            p:nth-child(2){
                font-size: 12px;
                padding-top: 18px;
                line-height: 26px;
                color: #f19d1f;
                text-transform: uppercase;
                margin: 0;
            }
    }
    .stars{
        display: flex;
        justify-content: center;
        align-items: center;
            p:nth-child(2){
                padding-top: 0;
                color: rgb(86,99,117);
            }
    }
    .small-stars{
        width: 60px;
        height: 15px;
        background: url(../images/5stars.png);
        background-repeat: no-repeat;
    }
}
.music-cart::after{
    content: "";
    width: 62px;
    height: 62px;
    top: 110px;
    left: 75px;
    position: absolute;
    background: url(../images/muse-ic.png);  
}
// styles for bus-cart
.bus-cart{
    width: 210px;
    height: 260px;
    margin-right: 35px;
    margin-bottom: 20px;
    position: relative;
    .back{
        width: 210px;
        height: 140px;
        background: url(../images/Layer6.png);
        border-bottom: 3px solid #87499b;
        position: relative;
    }    
    .discription{
        padding-top: 15px;
        background: #fff;
        text-align: center;
            p:nth-child(1){
                padding-left: 8px;
                padding-right: 8px;
                font-size: 14px;
                line-height: 18px;
                color: rgb(86,99,117);
                margin-bottom: 0;
            }
            p:nth-child(2){
                font-size: 12px;               
                line-height: 26px;
                color: #87499b;
                text-transform: uppercase;
                margin: 0;
            }
    }
    .stars{
        display: flex;
        justify-content: center;
        align-items: center;
            p:nth-child(2){
                padding-top: 0;
                color: rgb(86,99,117);
            }
    }
    .small-stars{
        width: 60px;
        height: 15px;
        background: url(../images/stars.png);
        background-repeat: no-repeat;
    }
}
.bus-cart::after{
    content: "";
    width: 62px;
    height: 62px;
    top: 110px;
    left: 75px;
    position: absolute;
    background: url(../images/bus-ic.png);  
}
// styles for second house-cart small
.second{
    position: relative;
    margin-right: 35px;
    margin-bottom: 20px;
    .back{
        width: 210px;
        height: 140px;
        background: url(../images/Layer8.png);
        border-bottom: 3px solid #1baf5d;
        position: relative;
    }
    .back::after{
        content: "$2,990";
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
        padding-top: 3px;
        color: rgb(255,255,255);
        font-family: "Gotham Medium";
        width: 65px;
        height: 16px;
        border-radius: 12px;
        background-color: #1baf5d;        
        top: 5px;
        left: 140px;
        position: absolute;        
    }
    .discription{
        padding-top: 15px;
        background: #fff;
        text-align: center;
            p:nth-child(1){
                padding-left: 9px;
                padding-right: 5px;
                font-size: 14px;
                line-height: 18px;
                color: rgb(86,99,117);
                margin-bottom: 0;
            }
            p:nth-child(2){
                font-size: 12px;
                line-height: 26px;
                color: rgb(27,175,93);
                text-transform: uppercase;
                margin: 0;
            }
    }
    .stars{
        display: flex;
        justify-content: center;
        align-items: center;
            p:nth-child(2){
                color: rgb(86,99,117);
            }
    }
    .small-stars{
        width: 60px;
        height: 15px;
        background: url(../images/stars.png);
        background-repeat: no-repeat;
    }
}
.second::after{
    content: "";
    width: 62px;
    height: 62px;
    top: 110px;
    left: 75px;
    position: absolute;
    background: url(../images/house-ic.png);    
}
// styles for house-cart big
.big{
    width: 455px;
    height: 260px;
    margin-bottom: 20px;
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    .back{
        width: 455px;
        height: 120px;
        display: flex;
        align-items: flex-end;
        background: url(../images/Layer9.png);
        border-bottom: 3px solid #1baf5d;
        position: relative;
            p{
                font-size: 18px;
                text-transform: uppercase;
                margin-bottom: 5px;
                margin-left: 100px;
                color: rgb(255,255,255);               
                box-shadow: 0.5px 0.866px 1px rgba(0,0,1,0.15);
                z-index: 2;
            }
    }
    .back::after{
        content: "";
        z-index: 1;
        width: 455px;
        height: 30px;
        bottom: 0;
        left: 0;        
        position: absolute;
        background: linear-gradient(to bottom, #100e0d, #3c393b);
        opacity: 0.5;
    }
    .back::before{
        content: "";
        z-index: 2;
        width: 62px;
        height: 62px;
        top: 90px;
        left: 15px;
        position: absolute;
        background: url(../images/house-ic.png);         
    }
    .stars{
        display: flex;
        justify-content: center;
        align-items: center;
            p:nth-child(2){
                margin-left: 5px;
                margin-top: 0;
                margin-bottom: 10px;
                font-size: 12px;                
                color: rgb(255,255,255);
            }
    }
    .small-stars{
        width: 60px;
        height: 15px;
        margin-bottom: 8px;
        margin-left: 8px;
        z-index: 2;
        background: url(../images/stars.png);
        background-repeat: no-repeat;
    }
    .rev{
        background: #fff;
        padding-left: 100px;
        position: relative;
        width: 355px;
            .big-stars{
                width: 87px;
                height: 16px;
                margin-top: 15px;                
                background: url(../images/big-stars.png); 
            }
            h3{
                font-size: 16px;
                text-transform: uppercase;
                color: rgb(86,99,117);                
                font-weight: bold;
                margin-bottom: 0;
            }
            p{
                width: 342px;
                height: 54px;
                margin-top: 5px;
                font-size: 14px;
                line-height: 20px;
                color: rgb(86,99,117);
                font-family: "GBoock";
                    a{                        
                        color: #566375;
                    }
            }
    }
    .rev::before{
        content: "";        
        width: 62px;
        height: 76px;
        top: 29px;
        left: 15px;
        position: absolute;
        background: url(../images/Layer10.png); 
        background-position: 238px 217px;
    }
}
// styles for music-cart big
.music-cart-big{
    width: 455px;
    height: 260px;
    margin-bottom: 20px;
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    .back{
        width: 455px;
        height: 120px;
        display: flex;
        align-items: flex-end;
        background: url(../images/Layer12.png);
        border-bottom: 3px solid #f19d1f;
        position: relative;
            p{
                font-size: 18px;
                text-transform: uppercase;
                margin-bottom: 5px;
                margin-left: 100px;
                color: rgb(255,255,255);               
                box-shadow: 0.5px 0.866px 1px rgba(0,0,1,0.15);
                z-index: 2;
            }
    }
    .back::after{
        content: "";
        z-index: 1;
        width: 455px;
        height: 30px;
        bottom: 0;
        left: 0;        
        position: absolute;
        background: linear-gradient(to bottom, #100e0d, #3c393b);
        opacity: 0.5;
    }
    .back::before{
        content: "";
        z-index: 2;
        width: 62px;
        height: 62px;
        top: 90px;
        left: 15px;
        position: absolute;
        background: url(../images/muse-ic.png);         
    }
    .stars{
        display: flex;
        justify-content: center;
        align-items: center;
            p:nth-child(2){
                margin-left: 5px;
                margin-top: 0;
                margin-bottom: 10px;
                font-size: 12px;                
                color: rgb(255,255,255);
            }
    }
    .small-stars{
        width: 60px;
        height: 15px;
        margin-bottom: 8px;
        margin-left: 8px;
        z-index: 2;
        background: url(../images/5stars.png);
        background-repeat: no-repeat;
    }
    .rev{
        background: #fff;
        padding-left: 100px;
        position: relative;
        width: 355px;
            .big-stars{
                width: 87px;
                height: 16px;
                margin-top: 15px;                
                background: url(../images/5big-stars.png); 
            }
            h3{
                font-size: 16px;
                text-transform: uppercase;
                color: rgb(86,99,117);                
                font-weight: bold;
                margin-bottom: 0;
            }
            p{
                width: 342px;
                height: 54px;
                margin-top: 5px;
                font-size: 14px;
                line-height: 20px;
                color: rgb(86,99,117);
                font-family: "GBoock";
                    a{                        
                        color: #566375;
                    }
            }
    }
    .rev::before{
        content: "";        
        width: 62px;
        height: 76px;
        top: 29px;
        left: 15px;
        position: absolute;
        background: url(../images/Layer13.png); 
        background-position: 231px 263px;
    }
}
.more{
    font-size: 18px;
    line-height: 48px;
    color: rgb(86,99,117);
    order: 3;
}
.discription{
    height: 100px;
}

@media (max-width: 1070px){
    .catalog{
        width: 975px;
        padding-left: 10px;
    }
}

@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 } 
 .cart{
     animation: fadeInRight 1s;
 }
