.search-input{
    position: absolute;
    width: 350px;
    height: 73px;
    left: -340px;
    padding-left: 10px;
    border: none;
    outline: none;
    background: #e94e38;
    font-size: 18px;
    line-height: 30px;
    color: rgb(255,255,255);
    font-family: "Gbook";
    display: none;
    animation: input 1s; 
    -moz-animation: input 1s;   
}
@keyframes input{
    0%{
        left: 0;
    }    
    100%{
        left: -340px;
    }
}
@-moz-keyframes input{
    0%{
        left: 0;
    }    
    100%{
        left: -340px;
    }
}
.search-input::-webkit-input-placeholder {color:#fff;}
.search-input::-moz-placeholder  {color:#fff;}
.search-input:-moz-placeholder {color:#fff;}
.search-input:-ms-input-placeholder  {color:#fff;}
.login-menu{    
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    background: #fff;
    width: 365px;
    padding: 15px 15px;
    position: absolute;
    top: 96px;
    left: -70px;
    animation: popup 1s;
        input{
            outline: none;
        }
        label{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            font-family: "GBook";
        }
        .e-mail{
            margin-top: 10px;
            width: 350px;
            height: 25px;
            padding-left: 10px;
        }
        .password{
            margin-top: 10px;
            width: 350px;
            height: 25px; 
            padding-left: 10px;
        }
        .log-btn{
            width: 105px;
            height: 35px;            
            background-color: #e94e38;
            text-align: center;    
            display: inline-block;
            border: none;
            outline: none;
            cursor: pointer;
            font-family: 'Gotham Medium'; 
            font-size: 14px;
            line-height: 24px;
            text-transform: uppercase;
            color: rgb(255,255,255);            
        }
        .log-btn:hover{
            box-shadow: 0px 0px 20px #000; 
        }
        .sign{
            display: flex;                     
        }
        .check{
            height: 35px;
            margin-left: 20px;
            display: flex;
            flex-direction: row;  
            justify-content: center;          
            align-items: center;            
        }
        a{
            cursor: pointer;
        }
        a:hover{
            text-decoration: underline;
        }
        
}
@keyframes popup{
    0%{
        top: -100px;
    }
    100%{
        top: 96px;
    }
}
.login-menu::before{    
        content: ''; 
        position: absolute; 
        left: 314px;
        top: -40px;
        border: 20px solid transparent;	
        border-bottom: 20px solid #fff;
}
.active{
    opacity: 0.5;
}
  .search-active{       
    width: 75px;
    height: 75px;    
    position: relative;    
    background-color: #000;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .search-active::after{
    content: "";
    width: 23px;
    height: 23px;
    top: 25px;
    left: 25px;
    position: absolute;
    background: url(../images/sr.png);
}
.back-hover-house{
    display: none;
    width: 210px;
    height: 140px;    
    background-color: rgba(27, 175, 93, 0.5);    
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    animation: rotate 1s;
}
.back-hover-house::before{
    content: "";
    width: 142px;
    height: 35px;
    position: absolute;
    top: 15px;
    left: 32px;
    background: url(../images/fl-2.png);
}
.back-hover-house::after{
    content: "";
    width: 137px;
    height: 21px;
    position: absolute;
    top: 72px;
    left: 32px;
    background: url(../images/coment.png);
}
.back-hover-bus{
    display: none;
    width: 210px;
    height: 140px;    
    background-color: rgba(135, 73, 155, 0.5);    
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    animation: rotate 1s;
}
.back-hover-bus::before{
    content: "";
    width: 142px;
    height: 35px;
    position: absolute;
    top: 15px;
    left: 32px;
    background: url(../images/fl.png);
}
.back-hover-bus::after{
    content: "";
    width: 137px;
    height: 21px;
    position: absolute;
    top: 72px;
    left: 32px;
    background: url(../images/coment.png);
}
.back-hover-music{
    display: none;
    width: 210px;
    height: 140px;    
    background-color: rgba(241, 157, 31, 0.5);    
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    animation: rotate 1s;
}
.back-hover-music::before{
    content: "";
    width: 142px;
    height: 35px;
    position: absolute;
    top: 15px;
    left: 32px;
    background: url(../images/fl-3.png);
}
.back-hover-music::after{
    content: "";
    width: 137px;
    height: 21px;
    position: absolute;
    top: 72px;
    left: 32px;
    background: url(../images/coment.png);
}
.displayed{
    display: block;      
}
.displayed-flex{
    display: flex;
}
.no-display{
    display: none;
}
.features-btn-1-active{
    border: 2px solid #1daf5d;        
}
.features-btn-1-active::before{
    background: url(../images/house-active.png);
}
.features-btn-2-active{
    border: 2px solid #1daf5d;        
}
.features-btn-2-active::before{
    background: url(../images/active-big-man.png);
}
.features-btn-3-active{
    border: 2px solid #1daf5d;        
}
.features-btn-3-active::before{
    background: url(../images/active-big-head.png);
}
.features-btn-4-active{
    border: 2px solid #1daf5d;        
}
.features-btn-4-active::before{
    background: url(../images/active-muse.png);
}
.features-btn-5-active{
    border: 2px solid #1daf5d;        
}
.features-btn-5-active::before{
    background: url(../images/active-big-bus.png);
}
@media (max-width: 1000px){
    .login-menu{
        left: -135px;
        padding: 15px 17px;            
    }
}

@keyframes rotate{ 	
	from { 			
		opacity: 0;		
	}	
	to {
		opacity: 1;
	}
} 