.profile{
    background: #e1e8eb;
    @include blocks;     
    position: relative;
        img{
            width: 350px;
            height: 500px;
            background-color: #c5c5c5;           
            display: block;
            margin-right: 40px;
        }  
}
@media (min-width: 1640px){
.profile::after{
    content: "";
    position: absolute;
    top: 0;
    right: 40px;
    width: 200px;
    height: 474px;
    background: url(../img/resume.png);
}
}
.profile__container{
    margin-top: 40px;
    margin-left: 3%;
    width: 67%;
    position: relative;
    display: none;
}
.profile__content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.profile__content__info{
    h1{
        font-size: 60px;
        color: rgb(36,51,62);
        font-family: "Open Sans";
        margin: 0;
        margin-bottom: 40px;
        margin-top: 120px;
    }
    h2{
        font-size: 40px;
        color: rgb(36,51,62);
        text-transform: uppercase;
        margin: 0; 
        margin-bottom: 40px;
    }
    p{
        font-size: 20px;
        line-height: 40px;
        color: rgb(36,51,62);
        padding-left: 60px;
        margin-right: 5%;
        position: relative;
    }    
    .mail::before{
        content: "";
        position: absolute;
        width: 45px;
        height: 33px;
        top: 5px;
        left: 0px;
        background: url(../img/email.png);
    }
    .phone::before{
        content: "";
        position: absolute;
        width: 45px;
        height: 33px;
        top: 5px;
        left: 0px;
        background: url(../img/phone.png);
    }
}
.wrapper{
    width: 335px;
    display: flex;
    flex-wrap: wrap; 
    margin-top: 50px;   
}
.profile__ico{
    width: 30%;
    background: url(../img/my-profile.png);    
    position: relative;
    min-height: 825px;
    p{
        @include icop;        
    }
    .profile__ico--name{
        position: absolute;
        left: 100px;
        bottom: 10px;
    }    
}
.profile__portfolio{
    width: 780px;
    margin-top: 100px;
    display: flex;
    align-items: center;    
    flex-wrap: wrap;    
    border-bottom: 2px solid #5b8bab;
    border-top: 2px solid #5b8bab;
    p{        
        font-size: 35px;        
        color: rgb(36,51,62);
    }
    a{
        margin-right: 35px;
    }
    a:hover{
        opacity: 0.5;
    }
    .profile__portfolio--barber{
        margin-right: 0;
    }
}
.profile__portfolio--mishka{
    font-size: 0;
    background: url(../img/mishka-logo-desktop.png);
    width: 159px;
    height: 72px;
    margin-left: 20px;
    cursor: pointer;
}
.profile__portfolio--duhoot{
    font-size: 0;
    background: url(../img/logod.png);
    width: 154px;
    height: 45px;
    cursor: pointer;
}
.profile__portfolio--barber{
    font-size: 0;
    background: url(../img/borodinski.png);
    width: 209px;
    height: 95px;
    cursor: pointer;
    margin-right: 0;
}

@media (max-width: 1220px){
    .profile::after{
        content: "";
        position: absolute;
        top: 0;
        right: 40px;
        width: 200px;
        height: 474px;
        background: url(../img/resume.png);
    }
    .profile__ico{
        background: #1a5076;
        display: flex;
        flex-direction: column;
        justify-content: center;        
        .profile__ico--name{        
            position: relative;
            left: 30px;
        }
    }  
    .profile__content__info{
        h1{
         margin-top: 0px;
        }
        h2{
            margin-top: 0px;
            margin-bottom: 0;
           }
    }
    .wrapper{
        margin-top: 0;
        flex-wrap: nowrap;
        
    }
    .profile__portfolio{
        margin-top: 0;
        margin-bottom: 40px;
        width: 100%;
        border: none;
        p{
            width: 620px;
        }        
    }
    .profile__portfolio--mishka{
        margin-left: 0;
    }
}