.form{
  width: 100%;
    h1{
      font-family: Verdana;
      font-size: 24pt;
      background: #f1f1f1;
      width: 100%;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
}
.form--ob{
  display: none;
}
.form__area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
    p{
      width: 295px;
      font-size: 13pt;
      line-height: 1.5;
    }
}
.form__head{
  font-size: 14pt;
  color: #63d1bb;
  position: relative;
  text-transform: uppercase;
}
.form__head::after{
  content: "";
  width: 230px;
  border-bottom: 1px solid #63d1bb;
  position: absolute;
  top: 12px;
  left: 65px;
}
.form__type{
  width: 295px;
  display: flex;
  flex-direction: column;
}
.form__radio{
  width: 170px;
  margin-bottom: 35px;
  margin-left: 65px;
  padding-left: 40px;
  font-family: Verdana;
  font-size: 14pt;
  font-weight: bold;
  position: relative;
}
.form__radio:nth-child(3){
  padding-top: 10px;
}
.form__radio input[type="radio"]{
  display: none;
}
.form__radio input[type="radio"] + .form-indicator{
  position: absolute;
  width: 40px;
  height: 42px;
  background: url(../img/sprite/Shape1copy.png);
  top: 0px;
  left: -50px;
}
.form__radio input[type="radio"]:checked + .form-indicator{
  background: url(../img/sprite/Shape1copy2.png);
}

.form__color{
  width: 295px;
  display: flex;
  flex-direction: column;
}
.form__check{
  margin-bottom: 35px;
  margin-left: 105px;
  font-family: Verdana;
  font-size: 14pt;
  font-weight: bold;
  position: relative;
}
.form__check input[type="checkbox"]{
  display: none;
}
.form__check input[type="checkbox"] + .check-indicator{
  position: absolute;
  width: 40px;
  height: 41px;
  background: url(../img/sprite/border.png);
  top: -7px;
  left: -90px;
}
.form__check input[type="checkbox"]:checked + .check-indicator{
  background: url(../img/sprite/border-check.png);
}
.form__fio{
  width: 295px;
  display: flex;
  flex-direction: column;
}
.form__name{
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  margin-left: 15px;
  font-family: Verdana;
  font-size: 14pt;
  font-weight: bold;
}
.form__text{
  margin-top: 20px;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: #fafafa;
}
.form__text:hover{
  border-bottom: 1px solid #63d1bb;
}
.form__text:active{
  border-bottom: 1px solid #63d1bb;
}
.form__numb{
  width: 295px;
  position: relative;
}
.form__tel{
  margin-left: 15px;
  padding-bottom: 10px;
  width: 95%;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: #fafafa;
  position: relative;
}
.form__numb::after{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 58px;
  left: 270px;
  background: url(../img/sprite/phone.png);
}
.form__tel:hover{
  border-bottom: 1px solid #63d1bb;
}
.form__tel:active{
  border-bottom: 1px solid #63d1bb;
}
.form__e-mail{
  width: 295px;
  position: relative;
}
.form__e-mail::after{
  content: "";
  position: absolute;
  width: 32px;
  height: 22px;
  top: 58px;
  left: 261px;
  background: url(../img/sprite/mail.png);
}
.form__mail{
  margin-left: 15px;
  padding-bottom: 10px;
  width: 95%;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: #fafafa;
  position: relative;
}
.form__mail:hover{
  border-bottom: 1px solid #63d1bb;
}
.form__mail:active{
  border-bottom: 1px solid #63d1bb;
}
.form__sub{
  width: 295px;
  margin-bottom: 50px;
}
.form__dop{
  width: 270px;
  margin-left: 15px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 100px;
  text-align: left;
  border: 1px solid #000;
  outline: none;
  background: #fafafa;
}
.form__dop:hover{
  border: 1px solid #63d1bb;
}
.form__dop:active{
  border: 1px solid #63d1bb;
}
.form__btn{
  display: inline-block;
  vertical-align: top;
  padding: 10px 33px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background: #fff;
  outline: none;
  cursor: pointer;
  width: 215px;
  height: 50px;
  border: 1px solid #444444;
  margin-left: 24px;
  margin-bottom: 10px;
}
.form__btn:hover{
  background: #444444;
  color: #fff;
}
@media (min-width: 768px){
  .form{
    h1{
      font-size: 30pt;
    }
  }
  .form__area{
    width: 670px;
    position: relative;
      p{
        width: 670px;
      }
  }
  .form__type{
    width: 670px;
    margin-top: 40px;
      p{
        width: auto;
        position: absolute;
        margin-top: 0;
      }
  }
  .form__radio{
    margin-left: 240px;

  }
  .form__head::after{
    display: none;
  }
  .form__color{
    width: 670px;
    margin-top: 40px;
    height: 262px;
    flex-wrap: wrap;
    p{
      width: auto;
      position: absolute;
      margin-top: 0;
    }
  }
  .form__check{
    margin-left: 280px;
    margin-top: 10px;
  }
  .form__check:nth-child(5){
    margin-left: 140px;
  }
  .form__check:nth-child(6){
    margin-left: 140px;
  }
  .form__check:nth-child(7){
    margin-left: 140px;
  }
  .form__fio{
    width: 670px;
    p{
      width: auto;
      position: absolute;
      margin-top: 0;
    }
  }
  .form__name{
    margin-left: 180px;
  }
  .form__numb{
    width: 670px;
    p{
      width: auto;
      position: absolute;
      margin-top: 0;
    }
  }
  .form__numb::after{
    top: 0px;
    left: 640px;
  }
  .form__tel{
      margin-left: 180px;
      width: 74%;
  }
  .form__e-mail{
    width: 670px;
    margin-top: 40px;
    p{
      width: auto;
      position: absolute;
      margin-top: 0;
    }
  }
  .form__e-mail::after{
    top: 0px;
    left: 635px;
  }
  .form__mail{
    margin-left: 180px;
    width: 74%;
  }
  .form__sub{
    width: 670px;
    margin-top: 40px;
    p{
      width: auto;
      position: absolute;
      margin-top: 0;
    }
  }
  .form__dop{
    width: 480px;
    margin-left: 180px;
  }
  p.form--ob{
    width: 310px;
    display: block;
    position: absolute;
    top: 95%;
    left: 375px;
  }
  .form__btn{
    margin-left: -450px;
    white-space: nowrap;
  }
}
@media (min-width: 1050px){
  .form{
    h1{
      font-size: 30pt;
    }
  }
  .form__area{
    width: 755px;
      p{
        width: 775px;
      }
  }
  .form__type{
    width: 900px;
  }
  .form__radio{
    margin-left: 140px;
    width: 255px;
    padding-top: 5px;
  }
  .form__color{
    width: 900px;
    height: 160px;
  }
  .form__check{
    margin-left: 180px;
  }
  .form__check:nth-child(4){
      margin-left: 140px;
    }
  .form__fio{
    width: 900px;
  }
  .form__name{
    margin-left: 85px;
  }
  .form__numb{
    width: 900px;
  }
  .form__numb::after{
    top: 0px;
    left: 870px;
  }
  .form__tel{
    margin-left: 85px;
    width: 91%;
  }
  .form__e-mail{
    width: 900px;
  }
  .form__e-mail::after{
    top: 0px;
    left: 865px;
  }
  .form__mail{
    margin-left: 85px;
    width: 91%;
  }
  .form__sub{
    width: 900px;
  }
  .form__dop{
    width: 810px;
    margin-left: 85px;
  }
  .form__btn{
    margin-left: -520px;
  }
  p.form--ob{
    top: 94%;
    left: 540px;
  }
}
